In [2]:
import requests
import os
import pandas as pd

In [3]:
base = 'https://www.alphavantage.co/query?'
key = os.getenv('ALPHA_KEY')
function = 'TIME_SERIES_MONTHLY'
symbol = 'AZN.L'

url = f"{base}function={function}&symbol={symbol}&apikey={key}"
url

'https://www.alphavantage.co/query?function=TIME_SERIES_MONTHLY&symbol=AZN.L&apikey=None'

In [4]:
r = requests.get(url)
data = r.json()


# Data is returned in dictionary object which is not easily accessible
df = pd.DataFrame(data)
df

,Meta Data,Monthly Time Series
1. Information,"Monthly Prices (open, high, low, close) and Vo...",NaN
2. Symbol,AZN.L,NaN
3. Last Refreshed,2024-08-09,NaN
4. Time Zone,US/Eastern,NaN
2024-08-09,NaN,"{'1. open': '12344.0000', '2. high': '12792.00..."
...,...,...
2005-06-30,NaN,"{'1. open': '2343.0000', '2. high': '2360.0000..."
2005-05-31,NaN,"{'1. open': '2311.0000', '2. high': '2379.0000..."
2005-04-29,NaN,"{'1. open': '2099.0000', '2. high': '2365.0000..."
2005-03-31,NaN,"{'1. open': '2040.0000', '2. high': '2218.0000..."
2005-02-28,NaN,"{'1. open': '1998.0000', '2. high': '2183.0000..."